<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script>
     


    </script>
    <title>Students</title>
</head>
<body><br>
  <nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">NBSC</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student">Student Data</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <br>
    <div class = "container">
      <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class = "text-center"> Create New Student </h1>
          <div class = "card-body">
            <form th:action="@{/student}" th:object = "${student}" method="POST">
              
              <div class ="form-group">
                <label> Student Id </label>
                <input
                type = "Integer"
                name = "id"
                th:field = "*{id}"
                class = "form-control"
                placeholder="Enter Id" 
                />
              </div>
              <div class ="form-group">
                <label> Student Full Name </label>
                <input
                type = "text"
                name = "sname"
                th:field = "*{sname}"
                class = "form-control"
                placeholder="Enter Student Full Name" 
                />
              </div>
            
              <div class ="form-group">
                <label> Student Course </label>
                <input
                type = "text"
                name = "course"
                th:field = "*{course}"
                class = "form-control"
                placeholder="Enter Student Course" 
                />
              </div>
              
              <div class = "box-footer">
                <button type="submit" class = "btn btn-primary">
                  Submit
                </button>
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </body>
</html>